<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <%= link_to "Kanekalon Mix Helper", home_path, class: "navbar-brand col-md-3 col-lg-2 mr-0 px-3", id: "colored" %>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <%= form_with url: search_kanekalons_path, method: :get, local: true, class: "form-floating d-flex w-100" do |form| %>
    <%= form.text_field :query, id: :query, data: { autocomplete_source: kanekalons_path }, class: "form-control query", placeholder: "Search" %>
    <%= form.label :query, "Search" %>
    <%= form.submit "Go!", class: "btn btn-primary" %>
  <% end %>
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" href="#">link</a>
    </li>
  </ul>
</nav>

<script type="text/javascript">
    function colored(element) {
        var result = "";
        for (var i = 0; i < element.innerHTML.length; i++) {
            result += "<span style='color: rgb(" + ~~(Math.random() * 255) + ", " + ~~(Math.random() * 255) + ", " + ~~(Math.random() * 255) + ")'>" + element.innerHTML.charAt(i) + "</span>"

        }
        element.innerHTML = result;
    }
    colored(document.getElementById("colored"));
</script>

